<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer-inner">
          <!-- {% if site.data.social %}
            {% include social.html %}
          {% endif %} -->
          
          <h2 class="footer-title">{{site.title}}</h2>
          <ul>
            {% for item in site.data.social %}
              <li class="social"><a href="{{ item.link }}" target="blank"><img src="{{ item.image | relative_url }}" title="{{ item.name }}" alt="{{ item.name }}" /></a></li>
            {% endfor %}
            {% assign footermenu = site.data.menus.footer | sort: 'weight'  %}
            {% for item in footermenu %}
            <li class="{% if item.url == page.url %}active{% endif %}">
              <a href="{{ item.url | relative_url }}">{{ item.name }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
