---
layout: default
bodyClass: "page-services"
---

<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-12 col-lg-8">
        {{ content }}
      </div>
    </div>
  </div>
</div>

<div class="container pt-6 pb-6">
  <div class="row">
    {% assign weighted_services = site.products | sort: "weight" %}
    {% for service in weighted_services %}
    <div class="col-12 col-md-6 mb-3">
      <div class="service service-summary">
        <div class="service-content">
          <h2 class="service-title">
            <a href="{{ service.url | relative_url }}">{{ service.title }}</a>
          </h2>
          <p>{{ service.short | markdownify | strip_html }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
